<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Vuew App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class='nav-bar'></div>
    <div id="app">
        <div class="product">

            <div class="product-image">
                <img v-bind:src="image">

            </div>

            <div class="product-info">
                <h1>{{product}}</h1>
                <p v-if="inventory>10"> In Stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0"> Almost Finished</p>
                <p v-else>Out of Stock</p>
                <ul>
                    <li v-for ="detial in detials"> {{detial}}
                </ul>
                <div v-for= "variant in variants" :key="variant.variantID">
                    <p>{{variant.variantColor}} </p>
                </div>
                <button v-on:click="addToCart">Add to cart</button>
                <div class="cart">Cart({{cart}})</div>
            </div>


        </div>
    </div>
    <script src="main.js"></script>
</body>

</html>